$color-button    : #00796B;
$color-login     : #FFB300; 
$hover-side      : #E0F2F1;
$font-all        : 'Nunito', sans-serif;      
$color-content   : #E0F2F1;
$color-c-comment : #FFF8E1;           
$color-c-see     : #E3F2FD; 
$color-filter     :rgba(236, 239, 241, 0.1);
$color-bg        :#E5E5E5;
$font-size-content       :  18px;